<!DOCTYPE html>
<html class="gr__semantic-ui_com">
    <head>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/input.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/segment.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.js"></script>
    </head>
    <body>
        <div class ="ui middle aligned center aligned grid">
            <div class="column">
                <header>
                    <h2 class="ui header">URL Shortener Microservice</h2>
                </header>
                <form class="ui lsmall form" action="/api/shorturl/new/" method="post">
                    <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui large input">
                        
                        <input class="ui input" type="text" name="url_to_shrten" placeholder="place URL to shorten here">
                    </div>
                </div>
                    <button class="ui button teal" type="submit">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </body>
</html>